@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.container{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-destaque{
    color: #faae0b;
}

.container-conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container-conteudo-titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.container-conteudo-texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.container-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.container-links-link{
    /* background-color: #faae0b; */
    border:2px solid #faae0b;
    border-radius: 8px;
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;   
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.titulo-redes{
      font-family: 'Krona One', sans-serif;
      font-weight: 400px;
      font-size: 24px;
}

.icon-links{
  width: 32px;     
  height: 32px;
}